<div class="button-container">

  <%= link_to users_show_path, class: "glass-btn blue-btn" do %>
    <i class="far fa-id-card"></i>
  <% end %>

  <div data-turbolinks='false'>
  <%= link_to plans_path, class: "glass-btn red-btn" do %>
    <i class="far fa-calendar-alt"></i>
  <% end %>
  </div>
  <div data-turbolinks="false">
    <%= link_to books_path, class: "glass-btn amber-btn" do %>
      <i class="fas fa-calculator"></i>
    <% end %>
  </div>

</div>