<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 my-4">
      <div class="card">
        <div class="card-header">
          退会確認画面
        </div>
        <div class="card-body">
          <h4 class="text-center"><strong>本当に退会しますか？</strong></h4>
          <p class="text-center">退会すると、会員登録情報や<br/>
          これまでのスケジュールや収支管理が閲覧できなくなります。<br/>
          退会する場合は、「退会する」をクリックしてください。
          </p>
          <%= link_to "退会しない", users_show_path, class: "btn btn-primary btn-block" %>
          <%= link_to "退会する", users_withdraw_path, method: :patch, class: "btn btn-danger btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>

