<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h2 class="text-center">About</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag('img/2569028.jpg', class: "img-fluid") %>
    </div>
    <div class="col-sm-6">
      <h4 class="text-center">Money</h4>
      <p>収支計画を立てながら、毎日の支出を管理<br />
      MY貯金で、計画的に欲しいものを購入</p>
    </div>
    <div class="col-sm-6">
      <h4 class="text-center">Time</h4>
      <p>スケジュール登録で、日々の予定を管理<br />
      タスク管理は、仕事とプライベート、また優先度の高低でわかりやすく。</p>
    </div>
    <div class="col-sm-6">
      <%= image_tag('img/2486638.jpg', class: "img-fluid") %>
    </div>
  </div>
</div>