<div class="skw-pages">
  <div class="skw-page skw-page-1 active">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h1 class="skw-page__heading">Time and Moneyについて</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-2">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">スケジュール</h2>
          <ul class="skw-page__description">
            <li>日々の予定をカレンダーで簡単管理</li>
            <li>1ヶ月、1週間、1日と用途に分けてカレンダーを利用可能</li>
            <li>日時変更はドラッグ＆ドロップで直感的に</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-3">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">ToDoリスト</h2>
          <ul class="skw-page__description">
            <li>重要度×緊急度のマトリックス表記</li>
            <li>マトリックス表記で優先順位を簡単把握</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-4">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">収支管理</h2>
          <ul class="skw-page__description">
            <li>月々の収支を可視化。前月収支を簡単比較。</li>
            <li>計画との差を一眼でわかりやすく</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-5">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">家計簿・収支計画</h2>
          <ul class="skw-page__description">
            <li>家計簿・収支計画ともに項目別で分類</li>
            <li>各項目で利用率をグラフ化</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-6">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">Wishリスト</h2>
          <ul class="skw-page__description">
            <li>Wishリストで、購入希望額を把握</li>
            <li>Wishリストを見ながら計画的にMy貯金</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
  </div>
  <div class="skw-page skw-page-7">
    <div class="skw-page__half skw-page__half--left">
      <div class="skw-page__skewed">
        <div class="skw-page__content"></div>
      </div>
    </div>
    <div class="skw-page__half skw-page__half--right">
      <div class="skw-page__skewed">
        <div class="skw-page__content">
          <h2 class="skw-page__heading">さあ、Time and Moneyで、<br/>
          人生を計画的に。</h2>
          <p class="skw-page__description">
            <%= link_to new_user_registration_path, class: "btn1 btn-block mt-3" do %>
            <span class="btn1-content"><i class="fas fa-user-plus"></i> 新規登録</span>
            <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <% end %>
            <%= link_to new_user_session_path, class: "btn1 btn-block btn1-alt-color" do %>
            <span class="btn1-content"><i class="fas fa-sign-in-alt"></i> ログイン</span>
            <span class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

