<div class="container-fluid">
  <div class="row">
    <div class="topbox1 col-sm-6">
      <h1>1度きりの人生</h1>
      <h1>計画的に</h1>
      <h1>楽しもう</h1>
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-success btn-lg" %>
    </div>
    <div class="topbox2 col-sm-6 d-flex align-items-center justify-content-center">
      <%= image_tag 'img/logo1.001.png', class: "img-fluid w-50 logo" %>
    </div>
  </div>
</div>
<!--<div class="jumbotron jumbotron-fluid">-->
<!--  <div class="container">-->

<!--    <div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->

