/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

header {
 font-family: 'M PLUS 1p', sans-serif;
}

main {
 padding-top: 65px;
 font-family: 'M PLUS 1p', sans-serif;
}

.user-nav1:hover {
 color: white;
 background-color: #25F500;
}

.userheader-item1:hover {
 color: white;
 background-color: #25F500;
}

.user-nav2:hover {
 color: white;
 background-color: #007bff;
}

.userheader-item2:hover {
 color: white;
 background-color: #007bff;
}

.user-nav3:hover {
 color: white;
 background-color: #FA7E00;
}

.userheader-item3:hover {
 color: white;
 background-color: #FA7E00;
}

.side-menu {
  color: #007bff;
  border-left: solid 8px #007bff;/*左側の線*/
  background: white;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
  transition: .4s;
}

.side-menu:hover {
  color: white;
  background-color: #007bff;
  padding-left: 2em;
}

.side-menu1 {
  color: black;
  border-left: solid 8px #25F500;/*左側の線*/
  background: white;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
  transition: .4s;
}

.side-menu1:hover {
  color: white;
  background-color: #25F500;
  padding-left: 2em;
}

.side-menu2 {
  color: black;
  border-left: solid 8px #007bff;/*左側の線*/
  background: white;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
  transition: .4s;
}

.side-menu2:hover {
  color: white;
  background-color: #007bff;
  padding-left: 2em;
}

.side-menu3 {
  color: black;
  border-left: solid 8px #FA7E00;/*左側の線*/
  background: white;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
  transition: .4s;
}

.side-menu3:hover {
  color: white;
  background-color: #FA7E00;
  padding-left: 2em;
}