/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

header {
 font-family: 'M PLUS 1p', sans-serif;
}

main {
 padding-top: 65px;
 font-family: 'M PLUS 1p', sans-serif;
}

.topbox1 {
  height: 75vh;
}

.topbox2 {
  height: 75vh;
  background-image: url(img/portfoliomain.002.jpeg);
  background-size: cover;
}

.user-nav1:hover {
 color: white;
 background-color: #25F500;
}

.userheader-item1:hover {
 color: white;
 background-color: #25F500;
}

.user-nav2:hover {
 color: white;
 background-color: #007bff;
}

.userheader-item2:hover {
 color: white;
 background-color: #007bff;
}

.user-nav3:hover {
 color: white;
 background-color: #FA7E00;
}

.userheader-item3:hover {
 color: white;
 background-color: #FA7E00;
}

.mypage-card {
  height: 43vh;
}

.mypage-card1 {
  height: 43vh;
  border-color: #007bff;
}

.mypage-card1-header {
  background-color: #007bff;
}

.mypage-card2 {
  height: 43vh;
  border-color: #FA7E00;
}

.mypage-card2-header {
  background-color: #fa7e00;
}

.mypage-card-body {
  overflow-y: scroll;
}


.side-menu1 {
  color: black;
  border-left: solid 8px #25F500;/*左側の線*/
  background: white;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
  transition: .4s;
}

.side-menu1:hover {
  color: white;
  background-color: #25F500;
  padding-left: 2em;
}

.side-menu2 {
  color: black;
  border-left: solid 8px #007bff;/*左側の線*/
  background: white;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
  transition: .4s;
}

.side-menu2:hover {
  color: white;
  background-color: #007bff;
  padding-left: 2em;
}

.side-menu3 {
  color: black;
  border-left: solid 8px #FA7E00;/*左側の線*/
  background: white;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
  transition: .4s;
}

.side-menu3:hover {
  color: white;
  background-color: #FA7E00;
  padding-left: 2em;
}

.time-side-card-header {
  color: white;
  background-color: #007bff;
}

.money-side-list-group-item {
  color: white;
  background-color: #FA7E00;
}

.tasklist1 {
  border-left: solid 8px #dc3545;/*左側の線*/
}

.tasklist2 {
  border-left: solid 8px #ffc107;
}

.tasklist3 {
  border-left: solid 8px #28a745;
}

.tasklist4 {
  border-left: solid 8px #17a2b8;
}

.books-mypage-card {
  border-color: #FA7E00;
}

.books-mypage-card-header {
  color: white;
  background-color: #FA7E00;
}

.btn-time-new {
  color: #007bff;
  background-color: white;
  border-color: #007bff;
}

.btn-time-new:hover {
  color: white;
  background-color: #007bff;
}

.btn-money-new {
  color: #FA7E00;
  background-color: white;
  border-color: #FA7E00;
}

.btn-money-new:hover {
  color: white;
  background-color: #FA7E00;
}

.wishlist1 {
  border-left: solid 8px #dc3545;
}

.wishlist2 {
  border-left: solid 8px #28a745;
}