// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-card {
  height: 30vh;
}

.book-card-body {
  overflow-y: scroll;
}

.books-mypage-booktable {

}

.books-mypage-bookthead {
  background-color: rgba(0,123,255,0.2);
  // background-color: #0CB0E8;
}

.books-mypage-booktd {
  background-color: rgba(0,123,255,0.2);
}