// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .jumbotron {
//   height: 75vh;
//   background: url(img/portfolio_top.001.jpg) center no-repeat;
//   background-size: contain;

// }

.topbox1 {
  height: 75vh;
}
.logo {

}

.topbox2 {
  height: 75vh;
  background-image: url(img/portfoliomain.002.jpeg);
  background-size: cover;
}