// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-card {
  height: 40vh;
}

.task-card-body {
  overflow-y: scroll;
}

.fin-task-card {
  height: 35vh;
}

.fin-task-card-body {
  overflow-y: scroll;
}

.fin-task-title {
  text-decoration: line-through;
}
