// html,
// body {
//   background-color: #ffffff;
//   transition: all 0.3s;
//   height: 100%;
// }

.mypage-card {
  height: 43vh;
}

.mypage-card-body {
  overflow-y: scroll;
}

.side-menu {
  color: #007bff;
  border-left: solid 8px #007bff;/*左側の線*/
  background: white;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
  transition: .4s;
}

.side-menu:hover {
  color: white;
  background-color: #007bff;
  padding-left: 2em;
}

