<div class="container-fluid">
  <div class="row">
    <div class="plan-sidebar col-sm-2 mt-2">
      <h3><i class="fas fa-calendar-alt"></i> スケジュール</h3>
      <h5><%= Date.current.strftime('%Y年%m月%d日') %></h5>
      <%= link_to new_plan_path, remote: true, class: "btn btn-block btn-primary" do %>
      <i class="fas fa-plus"></i> 作成
      <% end %>
      <div id="plan-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <div id="editplan-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <nav class="nav d-flex flex-column mt-2">
        <%= link_to plans_path, class: "side-menu2 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-calendar-alt"></i> スケジュール
        <% end %>
        <%= link_to tasks_path, class: "side-menu2 nav-link", data: { "turbolinks": false } do %>
        <i class="fas fa-tasks"></i> Todoリスト
        <% end %>
      </nav>


      <!--<nav class="nav d-flex flex-column">-->
      <!--  <a href="#" class="btn-partial-line nav-link">-->
      <!--    <i class="fa fa-caret-right"></i> BUTTON-->
      <!--  </a>-->
      <!--  <a href="#" class="btn-partial-line nav-link">-->
      <!--    <i class="fa fa-caret-right"></i> BUTTON-->
      <!--  </a>-->
      <!--</nav>-->

    </div>
    <div class="col-sm-10 mt-2">
      <div id="calendar"></div>
    </div>
  </div>
</div>


